name: trackstar
description: A fitness tracking mobile application built with Flutter
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  path: ^1.9.1
  sqflite: ^2.4.2

  geolocator: ^11.0.0           # GPS tracking
  permission_handler: ^11.2.0   # Permissions
  flutter_map: ^6.1.0           # OpenStreetMap rendering
  latlong2: ^0.9.0              # calculating latitude and longitude

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true